body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fcfdfd;
  color: #2f2e2a;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

h1{
  margin: 5% 5% 0 5%;
  font-size: 55px;
}

img{
  border-radius: 20px;
  box-shadow: 5px 7px 20px 0px rgba(0,0,0,0.75);
  transform: scale(0.9);
  transition: 0.2s;
}

img:hover{
  transform: scale(1);
}